<footer class="ptrck-foot text-center text-lg-start mt-auto">
    <div class="text-center p-3">
    Copyright &copy; 2021. <b><a target="_blank" href="https://github.com/beefysalad/Contact-Tracing-Application">Order of the Sadboy Empire.</a></b> All Rights Reserved
     
    </div>
</footer>