    <%- include('../partials/header') %> 
    <title>Establishment</title>
</head>
<body>
    <form action="/logoutE">
        <button class="btn btn-warning">Log out</button>
    </form>
    <a href="/establishments-scanqr">Scan</a>
</body>
</html>