    <%- include('../partials/header') %> 
    <title>Main Dashboard</title>
</head>
<body class="d-flex flex-column vh-100">
    <% if (messages.error) { %>
        <h5 class="text-danger text-center">You have an invalid session!</h5>
    <% } %>
    <h1 class="text-center text-primary">Welcome to the main dashboard</h1>
    <div class="text-center">
        <a href="/establishments-login" class="text-center">Go to Establishment Portal</a>
        ||
        <a href="/client-login" class="text-center">Go to Users Portal</a>
    </div>

    <%- include('../partials/footer') %> 
</body>
</html>